<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapTypes</key>
	<array>
		<dict>
			<key>id</key>
			<string>stamen-watercolor</string>
			<key>source</key>
			<string>http://a.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg</string>
			<key>name</key>
			<string>Stamen Watercolor</string>
			<key>maxZoom</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>stamen-toner</string>
			<key>source</key>
			<string>http://a.tile.stamen.com/toner/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>Stamen Toner</string>
		</dict>
		<dict>
			<key>id</key>
			<string>stamen-toner-background</string>
			<key>source</key>
			<string>http://tile.stamen.com/toner-background/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>Stamen Toner Background</string>
		</dict>
		<dict>
			<key>id</key>
			<string>stamen-toner-lite</string>
			<key>source</key>
			<string>http://tile.stamen.com/toner-lite/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>Stamen Toner Lite</string>
		</dict>
		<dict>
			<key>id</key>
			<string>stamen-terrain</string>
			<key>source</key>
			<string>http://a.tile.stamen.com/terrain/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>Stamen Terrain (US only)</string>
			<key>maxZoom</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>bing-aerial</string>
			<key>logoImage</key>
			<string>bing-logo.png</string>
			<key>source</key>
			<string>http://ecn.t3.tiles.virtualearth.net/tiles/a{q}.jpeg?g=915</string>
			<key>name</key>
			<string>Bing Aerial</string>
			<key>maxZoom</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>mapbox-light</string>
			<key>source</key>
			<string>http://a.tiles.mapbox.com/v3/mapbox.mapbox-light/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>MapBox Light</string>
			<key>maxZoom</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>mapbox-terrain</string>
			<key>source</key>
			<string>http://a.tiles.mapbox.com/v3/examples.map-4l7djmvo/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>MapBox Terrain</string>
			<key>maxZoom</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>mapbox-warden</string>
			<key>source</key>
			<string>http://a.tiles.mapbox.com/v3/mapbox.mapbox-warden/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>MapBox Warden</string>
			<key>maxZoom</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>mapbox-streets</string>
			<key>source</key>
			<string>http://a.tiles.mapbox.com/v3/mapbox.mapbox-streets/{z}/{x}/{y}.png</string>
			<key>name</key>
			<string>MapBox Streets</string>
			<key>maxZoom</key>
			<integer>17</integer>
		</dict>
	</array>
	<key>zoomLevel</key>
	<integer>15</integer>
	<key>imageEffect</key>
	<integer>0</integer>
	<key>selectedMapTypeId</key>
	<string>stamen-watercolor</string>
	<key>cleanCache</key>
	<true/>
</dict>
</plist>
